* {
    margin:0;
}

/* background color */
body {
    height:100%;
    width:100%;
   // background-color:#fef5a8; /*morning*/
    background-color:#bccfe2; /*afternoon*/
    //background-color:#ff2242; /*evening*/
    //background-color:#0c0419; /*midnight*/
  //background: url(/images/morning.svg) no-repeat center center fixed; 
  //-webkit-background-size: cover;
 // -moz-background-size: cover;
 // -o-background-size: cover;
 // background-size: cover;
}

#sky {
    //background: url(/images/morning.png) no-repeat center center fixed;
    //background: url(/images/afternoon.png) no-repeat center center fixed;
    //background: url(/images/evening.png) no-repeat center center fixed;
    //background: url(/images/midnight.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    display:block;
    width:100%;
    height:100%;
    position:fixed;
    bottom:0;
    //top:0;
    //left:0;
    z-index:-99999;
    //border:5px solid green;
}

html {
    height:100%;
    width:100%;
}

#loader {
    background-color:#a2a2a2;
    height:100%;
    width:100%;
    display:block;
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
}

.hideMe {
    display:none;
}

/* Text/Fonts */
h1#loading, h1.heading, h1.success, h1.about, p, li{
	font-family: 'Open Sans Condensed', sans-serif !important;
}

h1#loading {
    color:white;
    text-shadow:2px 2px 2px #161616;
    font-size:75px;
    margin-left:10%;
    margin-top:5%;
    opacity:.5;
}

h1.heading, h1.success, h1.about {
    font-weight:bolder;
    font-size:36px;
    color:#00D2FF;
    margin-top:0;
    letter-spacing:15px;
    text-shadow:2px 2px 2px #161616;
}

p {
    font-weight:normal;
    font-size:24px;
    color:#727272;
}

li {
    font-size:18px;
}

.validationErrors p {
    color:#f0e600;
    font-weight:bold;
    font-family: 'arial', sans-serif;
    font-size:18px;
    line-height:1.2;
}


/* Header CSS */
nav {
    //outline:2px solid red;
    background-color:rgba(229,229,229,.7);
    display:block;
}

ul.nav {
    max-width:940px;
    margin:0 auto;
}

ul.nav li a {
    color:#727272;
}

ul.nav li a.void {
    color:#d4d4d4;
}

.nav-pills li.active a {
    background-color:#f0e600;
}

.nav-pills li.active a:hover {
    background-color:#FFB70C;
}

#container {
}

.container-fluid {
    padding-left:30px;
    padding-right:30px;
}

#center {
    max-width:940px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* Footer CSS */
#footer {
    background-color:rgba(129,129,127, .7);
    overflow:hidden;
    position:fixed;
    bottom:0;
    width:100%;
}

ul.footer {
    padding-left:0;
    margin-bottom:0;
    display:block;
    float:right;
    overflow:hidden;
    max-width:940px;
}

ul.footer li {
    display:inline-block;
    //outline:1px solid black;
    float:left;
    padding:.85em 2em .85em 2em;
}

ul.footer li a, ul.footer li {
    color:#d4d4d4;
}


/* Form */
label {
    color:#727272;
    width:25%;
}

input {
    width:75%;
    background-color:rgba(255,255,255,.5);
}

input.mySubmit {
    width:25%;
    float:right;
}

textarea {
    width:100%;
    height:8em;
    resize:none;
    background-color:rgba(255,255,255,.5);
}

span.typed-cursor {
    display:none;
}

form.contactMe {
    margin-top:15px;
    width:350px;
    display:inline-block;
    float:left;
}

.messageHide {
    display:none;
}

.validationErrors {
    display:inline-block;
    padding-left:2em;
    margin-top:15px;
}






/* All */
#body {
    outline:2px solid red;
    padding-top:3em;
    padding-bottom:3em;
    overflow:hidden;
}

banner {
    //height:40px;
    display:block;
    padding-top:60px;
    height:160px;
    overflow:hidden;
}

.blurb1, .blurb2 {
    height:50px;
}

.selfImg { 
  width: 200px;
  height: 250px;
  position: relative;
  perspective: 800px;
    display:inline-block;
    float:right;
    margin-left:2em;
    margin-bottom:2em;
}/*on about page*/


img#my-logo { 
  max-width: 100%;
  max-height: 100%;
    height:500px;
    position: relative;
    display:inline-block;
}

#card {
    //width: 50%;
    //height: 90%;
    //display:inline-block;
    //float:left;
    overflow:hidden;
    outline:2px solid pink;
}


#resume {
    outline:2px solid pink;
}

.res {
    outline:1px solid orange;
    display:block;
    overflow:hidden;
    clear:both;
}

/*.obj-info, .workplace-skills {
    outline:2px solid cyan;
    width:50%;
    float:right;
    display:inline-block;
}*/



.skill-icon {
    width:100px;
    display:inline-block;
    float:left;
}

img.example {
    display:block;
    width:400px;
}



/*@media only screen and (max-width : 1200px){
 
}*/
 
@media only screen and (max-width : 979px){
 
}/* end width 979 */
 
@media only screen and (max-width : 767px){/* Landscape on my phone */
    
body, html {
    background:#e5e5e5;
}
 
    h1.heading, h1.success, h1.about {
        font-size:18.5px;
        color:#00a8cc;
        margin-top:0;
        letter-spacing:5px;
        text-shadow:none;
    }
    
   p {
        font-size:16px;
    }

    .validationErrors p {
        font-weight:bold;
        font-size:16px;
       // line-height:1.2;
    }
    
    .container-fluid {
        padding-left:20px;
        padding-right:20px;
    }
    
    
    
    #footer li {
        font-size:10px;
        padding-top:5px;
        padding-bottom:5px;
    }
    
    #body {
        padding-top:15px;
        padding-left:5px;
        padding-right:5px;
    }
    
     banner {
        padding-top:20px;
        height:50px;
    }
    
}/* end width 767 */


 
@media only screen and (max-width : 480px){
}/* end width 480 */
 
@media only screen and (max-width : 320px){ /* Portrait on my phone */
     h1.heading, h1.success, h1.about, p{
        font-family: 'Open Sans Condensed', sans-serif !important;
    }

    h1.heading, h1.success, h1.about {
        font-size:16px;
        color:#00a8cc;
        margin-top:0;
        letter-spacing:5px;
    }
    
    .container-fluid {
        padding-left:15px;
        padding-right:15px;
    }
    
    
    #footer li {
        font-size:8px;
        margin:0 auto;
        padding:0;
        padding-top:10px;
        padding-bottom:10px;
        margin-right:20px;
    }
    
    
    #body {
        padding-top:15px;
        padding-left:5px;
        padding-right:5px;
    }
    
    form.contactMe {
        width:280px;
    }
    
    banner {
        padding-top:20px;
        height:80px;
    }
}/* end width 320*/